<%- include('./head') %>

<div class="row my-5 d-flex justify-content-center">
    <div class="col-6 p-3 bg-white shadow-sm">
        <h1 class="fw-bold text-center text-secondary">ADD COUPON</h1>
        <hr>
        <% if (messages.success) { %>
          <div class="alert alert-success">
              <%= messages.success %>
          </div>
      <% }else if (messages.error){ %>
        <div class="alert alert-danger">
          <%= messages.error %>
      </div>
      <%}%>

        <div class="card p-2">
            <form method="post" action="/addCoupon">
                
                <div class="form-group">
                  <label>Coupon Code</label>
                  <input type="text" class="form-control" id="name" name="code" required oninput="validateCouponName()" >
                  <p id="nameCheck" class="text-danger"></p>
                </div>
                <div class="form-group">
                  <label>Discount Percentage</label>
                  <input type="number" class="form-control" name="discount" required>
                </div>
                <div class="form-group">
                  <label>Start From</label>
                  <input type="datetime-local" class="form-control" id="valid_from" name="valid_from" required>
                </div>
                <div class="form-group">
                  <label>Ends On</label>
                  <input type="datetime-local" class="form-control" id="valid_to" name="valid_to" required >
                  <p id="dateValidationMessage" class="text-danger"></p>
                </div>
                <div class="form-group text-end p-2">
                  <input type="submit" class="btn btn-outline-dark" value="Add Coupon" onclick="return validateDates()">
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/script.js"></script>
<script>

</script>








