<%- include('./header1') %>

<div class="container row mx-auto d-flex justify-content-center">
    <div class="col-12 col-md-5 card p-3">
        <form action="" method="post">
            <div class="form-group my-2">
                <label for="reason">Enter your reason</label>
                <textarea name="reason" id="reason" cols="30" rows="10" class="form-control"></textarea>
            </div>
            <div class="text-center">
                <input type="submit" value="Send" class="btn form-control btn-outline-secondary">
            </div>
        </form>
    </div>
</div>

