<%-include('./header.ejs')-%>
  

  <div class="container-fluid bg-light d-flex align-items-center justify-content-center" style="min-height: 100vh;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 col-12">
          <div class="bg-white rounded shadow-lg p-3">
            <h3 class="fw-bold text-center">Admin Login</h3>
            <hr>
            <% if (messages.success) { %>
              <div class="alert alert-success">
                  <%= messages.success %>
              </div>
              <% }else if (messages.error){ %>
                  <div class="alert alert-danger">
                      <%= messages.error %>
                  </div>
                  <%}%>
            <form method="post" action="/admin" class="pt-3 mx-auto">
              <div class="form-group">
                  <input type="email" name="email" id="email" class="form-control" required>
                  <label for="email">Username</label>
              </div>

              <div class="form-group">
                  <input type="password" name="password" id="password" class="form-control" required>
                  <label for="password">Password</label>
              </div>

              <div class="form-group text-center">
                  <input type="submit" value="Sign In" class="btn btn-dark px-5">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
   
<%-include('./footer.ejs')-%>